# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
注册列表
# Files from Forge MDK
forge*changelog.txt

# vscode
.vscode/

# OS
.DS_Store
Thumbs.db